.header__inner {
  margin: 0 auto;
  max-width: $width-pc;
  padding-bottom: 60px;
  padding-top: 80px;
  position: relative;
  width: 90%;

  .title {
    font-size: 24px;
    font-weight: normal;

    .link {
      color: $color-black-1;
    }
  }
}

.header__navigation {
  margin: 0 auto;
  max-width: $width-pc;
  width: 90%;

  .list {
    display: flex;
    justify-content: flex-end;

    .menu-item {
      flex: 0 0 auto;
      font-size: 14px;
      width: 100px;

      a {
        color: $color-black-1;
      }

      &.current-menu-item {
        a {
          color: #999999;
        }
      }
    }
  }
}
