.article {
  position: relative;
}

.article__header {
  position: relative;

  .title {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.25;
    padding-bottom: 32px;
  }

  .date {
    text-align: right;
    font-size: 12px;
  }
}

.article__content {
  padding: 64px 0 0;
  position: relative;

  p {
    color: $color-black-1;
    font-size: 14px;
    line-height: 1.75;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
  }

  h2 {
    font-size: 18px;
    line-height: 1.75;
    padding-bottom: 16px;
    padding-top: 24px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.75;
    padding-bottom: 16px;
    padding-top: 24px;
  }
}

.wp-block-image {
  margin-bottom: 64px;
  margin-top: 64px;
}
