@mixin image_base() {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-archive {
  position: relative;

  & > .title {
    font-size: 32px;
    font-weight: normal;
    line-height: 1;
  }
}

.content {
  padding-bottom: 56px;

  .content__title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    padding-bottom: 24px;
  }

  .content__date {
    font-size: 12px;
    text-align: right;
  }
}

.link {
  color: $color-black-1;
}

.image--front {
  background-color: #ddd;
  height: 80px;
  position: relative;
  width: 100%;
}

.content-front {
  padding-top: 40px;
  position: relative;

  .title {
    font-size: 32px;
    font-weight: normal;
    line-height: 2;
    margin-bottom: 32px;
    text-align: center;
  }
}
