.list {
  list-style-position: outside;
  list-style-type: none;
  position: relative;
}

.list--articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.list__item {
  display: flex;
  flex-direction: column;
  padding: 0 10px 80px;
  width: 220px + 20px;

  .title {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
    padding: 36px 0 0;
    text-align: left;
  }
}

.item__thumbnail {
  background-color: #efefef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ccc;
  height: 220px;
  position: relative;
  width: 220px;
}

.thumbnail-link {
  display: block;
  height: 100%;
  position: relative;
}
