.container {
  height: auto;
  position: relative;
  width: 100%;
}

.container__inner {
  height: auto;
  margin: 0 auto;
  max-width: $width-pc;
  min-height: 600px;
  padding: 56px 0 48px;
  position: relative;
  width: 90%;
}
