// width
$width-pc: 1024px;
$width-tab: 768px;
$width-middle: 550px;
$width-sp: 320px;

$width-limit-tab: $width-pc - 1px;
$width-limit-middle: $width-tab - 1px;
$width-limit-sp: $width-middle - 1px;

// color
$color-black-1: #222;
$color-white-1: #fff;

// z-index
$z-index-container: 1;
$z-index-header: 2;
$z-index-footer: 2;
$z-index-content: 3;
$z-index-article: 3;
