.wpcf7-list-item-label {
  display: inline-block;
}

@media (max-width: $width-middle) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
  }
}

.wpcf7-form-control-wrap {
  display: block;
  text-align: left;

  input {
    border: 1px solid #ddd;
  }
}

.form__name {
  position: relative;
}

.form__email {
  position: relative;
}

.form__tel {
  position: relative;
}

.form__name,
.form__email,
.form__tel {
  input {
    padding: 2px 6px;
  }
}

.form__content {
  textarea {
    border: 1px solid #ddd;
  }
}

.form__acceptance {
  padding: 0 0 24px;

  input {
    border: 1px solid #ddd;
    height: 12px;
    margin: 0 8px 0 0;
    outline: none;
    width: 12px;

    &:checked {
      background-color: #ff0000;
    }
  }
}

.wpcf7-list-item {
  label {
    cursor: pointer;
  }
}

.form__submit {
  position: relative;
  text-align: left;

  input {
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
  }
}

.form__control {
  padding-top: 32px;
}

span.wpcf7-not-valid-tip {
  font-size: 14px;
  margin-top: 16px;
}

.required {
  background-color: #ff0000;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  padding: 2px 4px;
}
